---
import { getCollection, type CollectionEntry } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import TableOfContents from '@components/TableOfContents.astro';
import Time from '@components/Time.astro';
import { render } from 'astro:content';
import { slug } from 'github-slugger';

interface Props {
    article: CollectionEntry<'articles'>;
    articles: Array<CollectionEntry<'articles'>>;
}

export async function getStaticPaths() {
    const articles = await getCollection('articles');
    return articles.map(article => ({
        params: { article: article.id },
        props: { article },
    }));
}

const { article } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await render(article);

const titleSlug = slug(article.data.title);

const publishedDate = new Date(remarkPluginFrontmatter.publishedDate);
const hasRevisions = remarkPluginFrontmatter.revisionHistory.length > 1;
const lastRevision = hasRevisions && new Date(remarkPluginFrontmatter.revisionHistory[0].date);

const githubUrl = `https://github.com/MoritzLost/moritzlost.dev/`;
const githubBranch = 'main';
const fileUrl = `${githubUrl}blob/${githubBranch}/${article.filePath}`;
const fileHistoryUrl = `${githubUrl}commits/${githubBranch}/${article.filePath}`;
const editUrl = `${githubUrl}edit/${githubBranch}/${article.filePath}`;
---

<BaseLayout
    title={article.data.title}
    image={`/preview/${article.id}.png`}
    description={article.data.seo_description || article.data.description}
>
    <section class="article-layout" aria-labelledby={titleSlug}>
        <div class="article-layout__header">
            <h1 id={titleSlug}>{article.data.title}</h1>
            <p class="subline-author">
                —by Moritz L’Hoest
                <span class="subline-divider" aria-hidden="true">·</span>
                <Time date={publishedDate} />
            </p>
        </div>

        {
            headings.length > 0 && (
                <aside class="article-layout__aside">
                    <TableOfContents {headings} />
                </aside>
            )
        }

        <div class="article-layout__content prose stack" data-toc-content>
            <Content />

            <footer class="article-footer stack" aria-labelledby="revisions-and-links">
                <h2 class="h4" id="revisions-and-links">Revisions and links</h2>
                <dl class="article-meta">
                    <dt>Published</dt>
                    <dd><Time date={publishedDate} /></dd>
                    {
                        lastRevision && (
                            <>
                                <dt>Updated</dt>
                                <dd>{<Time date={lastRevision} />}</dd>
                                <dt>History</dt>
                                <dd>
                                    <a href={fileHistoryUrl}>View revision history</a>
                                </dd>
                            </>
                        )
                    }
                    <dt>Source</dt>
                    <dd><a href={fileUrl}>View source on GitHub</a></dd>
                    <dt>Contribute</dt>
                    <dd><a href={editUrl}>Suggest an edit</a></dd>
                    <dt>Subscribe</dt>
                    <dd><a href="/rss.xml">RSS feed</a></dd>
                </dl>

                <p class="disclaimer">This article was written by a human.</p>
            </footer>
        </div>
    </section>
</BaseLayout>

<style lang="postcss">
    .article-layout {
        --sidebar-width: 20rem;
        --article-min-width: 45ch;
        --article-max-width: 65ch;

        padding-inline: var(--container-padding-x);

        display: grid;
        column-gap: 80px;
        row-gap: var(--stack-gap-headings);
        justify-content: center;
        grid-template-columns: minmax(0, var(--article-max-width));
        grid-template-areas: 'header' 'aside' 'content';

        > .article-layout__header {
            grid-area: header;
        }

        > .article-layout__aside {
            grid-area: aside;
        }

        > .article-layout__content {
            grid-area: content;
        }
    }

    @media (min-width: 70rem) {
        .article-layout {
            grid-template-columns: minmax(var(--article-min-width), var(--article-max-width)) var(--sidebar-width);
            grid-template-areas: 'header aside' 'content aside';

        }

        .article-layout__aside {
            align-self: start;
            position: sticky;
            top: 3rem;
        }
    }

    @media (min-width: 85rem) {
        .article-layout {
            grid-template-columns: minmax(0, var(--sidebar-width)) var(--article-max-width) var(--sidebar-width);
            grid-template-areas: '. header aside' '. content aside';
        }
    }

    .subline-author {
        --stack-gap: 0;
        font-size: var(--font-size-1);
        font-family: var(--headings-font-family);
        font-weight: 500;
    }

    .subline-divider {
        padding-inline: .5rem;
    }

    .article-footer {
        margin-top: clamp(64px, 6vw, 96px);
        font-size: var(--font-size--1);
    }

    .disclaimer {
        --stack-gap: 3rem;
        font-style: italic;
    }

    .article-meta {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: clamp(16px, 3vw, 48px);
        row-gap: 1rem;

        & > dt {
            font-weight: var(--font-weight-bold);
        }
    }

    .prose :global(aside) {
        padding: 24px;
        border-left: 4px solid var(--theme-color);
        background-color: light-dark(
            color-mix(in srgb, var(--blue) 8%, transparent),
            color-mix(in srgb, var(--blue-light) 12%, transparent)
        );
        border-radius: 0.25rem;

        & > :global(* + *) {
            margin-block-start: var(--stack-gap);
        }
    }
</style>
