---
import { render, getCollection } from 'astro:content';
import { Picture } from 'astro:assets';
import BaseLayout from '@layouts/BaseLayout.astro';
import Time from '@components/Time.astro';
import { getDateFromFilepath } from '@utils/dates';

import portrait from '../images/portrait.jpg';
import dotAll2023 from '../images/dot-all-2023.jpg';
import dotAll2023Square from '../images/dot-all-2023-square.jpg';
import Emoji from '@components/Emoji.astro';

const appearances = await getCollection('appearances').then(collection =>
    collection.sort((a, b) => {
        const dateA = getDateFromFilepath(a.filePath!);
        const dateB = getDateFromFilepath(b.filePath!);
        return dateB.getTime() - dateA.getTime();
    }),
);
---

<BaseLayout
    title="Moritz L’Hoest – Web Developer"
    image={dotAll2023}
    imageAlternativeText="Moritz L’Hoest giving a talk on a conference stage."
    description="Moritz L’Hoest, web developer from Cologne, Germany. I care about sustainability, accessibility, and data privacy."
>
    <section id="about-me" aria-labelledby="about-me-heading">
        <div class="about-me">
            <Picture
                src={portrait}
                alt=""
                width="300"
                height="300"
                sizes="min(300px, 100vw)"
                widths={[300, 600, 900, 1200]}
                priority
                formats={['avif', 'webp']}
                quality="high"
                class="about-me__image"
                pictureAttributes={{ class: 'about-me__portrait', 'aria-hidden': 'true' }}
            />
            <div class="about-me__body stack">
                <h1 slot="heading" id="about-me-heading">Hi, I’m Moritz <Emoji emoji="👋" /></h1>
                <p>
                    I’m Moritz L’Hoest, a web developer from Cologne, Germany. At the moment, I like to work with
                    <a href="https://craftcms.com/">Craft CMS</a> and <a href="https://astro.build/">Astro</a>. My
                    primary focus besides full stack development is on sustainability, accessibility and data privacy. I
                    work at
                    <a href="https://www.schwarzdesign.de/">schwarzdesign</a> as a developer and team lead.
                </p>
                <p>Talk to me: <a href="mailto:m@moritzlost.dev">m@moritzlost.dev</a></p>
            </div>
        </div>
    </section>

    <section id="talks" aria-labelledby="talks-heading">
        <h2 id="talks-heading">Tech talks and other appearances</h2>
        <div class="conference-talks">
            <Picture
                src={dotAll2023Square}
                alt="I’m animatedly giving a talk on a conference stage."
                width="600"
                height="600"
                sizes="min(600px, 100vw)"
                widths={[600, 900, 1200, 1800]}
                formats={['avif', 'webp']}
                quality="high"
                priority
                class="conference-talks__image"
                pictureAttributes={{ class: 'conference-talks__picture' }}
            />

            {
                appearances.map(async appearance => {
                    const { Content, remarkPluginFrontmatter } = await render(appearance);
                    const date = new Date(remarkPluginFrontmatter.publishedDate);
                    return (
                        <article class="conference-talk" aria-labelledby={`${appearance.id}-heading`}>
                            <h3 class="conference-talk__heading" id={`${appearance.id}-heading`}>
                                {appearance.data.title}
                            </h3>
                            <p class="conference-talk__date">
                                <Time date={date} />
                            </p>
                            <Content />
                            {appearance.data.links?.length > 0 && (
                                <ul class="conference-talk__links" aria-label="Links and resources">
                                    {appearance.data.links.map(link => (
                                        <li>
                                            <a href={link.url}>
                                                {link.title}
                                                <span aria-hidden="true">↗</span>
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            )}
                        </article>
                    );
                })
            }
        </div>
    </section>
</BaseLayout>

<style>
    section {
        container-type: inline-size;
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-areas: '. content .';

        grid-template-columns:
            [fullwidth-start]
            var(--container-padding-x)
            [content-start]
            minmax(0, 100ch)
            [content-end]
            var(--container-padding-x)
            [fullwidth-end];
    }

    section > * {
        grid-column: content-start / content-end;
    }

    section + section {
        margin-block-start: clamp(5rem, 7vw, 8rem);
    }

    section > h2 {
        margin-block-end: clamp(2rem, 3vw, 3rem);
    }

    .about-me {
        display: grid;
        gap: var(--stack-gap-headings);

        @container (min-width: calc(300px + 50ch)) {
            grid-template-columns: 300px 1fr;
        }
    }

    .about-me__image {
        border-radius: 24px;
    }

    .about-me__body > * + * {
        margin-top: var(--stack-gap);
        --stack-gap: 1rem;
    }

    .about-me__body > h1 + p {
        --stack-gap: 0.5rem;
    }

    .conference-talks {
        display: grid;
        grid-auto-flow: dense;
        column-gap: clamp(16px, 4vw, 64px);
        row-gap: clamp(48px, 6vw, 96px);
        grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
    }

    .conference-talks__picture {
        grid-column-start: -2;
    }

    .conference-talks__image {
        border-radius: 24px;
    }

    .conference-talk > :global(* + *) {
        margin-block-start: var(--stack-gap);
        --stack-gap: 1rem;
    }

    .conference-talk__links > li + li {
        margin-block-start: 0.75rem;
    }

    .conference-talk__date {
        --stack-gap: 0rem;
        font-size: var(--font-size-1);
        font-family: var(--headings-font-family);
        font-weight: 500;
    }
</style>
