---
import type { CollectionEntry } from 'astro:content';

interface Props {
    article: CollectionEntry<'articles'>;
}

const { article } = Astro.props;
const headlineId = `article-${article.slug}-headline`;
---

<h2 id={headlineId}>{article.data.title}</h2>

<a aria-labelledby={headlineId} href={`/articles/${article.slug}`}>Read article</a>
