---
import Html from './Html.astro';
import type { Props as SeoProps } from './Html.astro';

interface Props extends SeoProps {}

const pages = [
    { href: '/', label: 'Home' },
    { href: '/articles/', label: 'Articles' },
    { href: '/projects/', label: 'Projects' },
];

const footer = [
    {
        heading: 'GitHub repository',
        links: [{ href: 'https://github.com/MoritzLost/moritzlost.dev', label: 'View source code' }],
    },
    {
        heading: 'Find me on the internet',
        links: [
            { href: 'https://github.com/MoritzLost', label: 'GitHub' },
            { href: 'https://www.linkedin.com/in/moritzlost/', label: 'LinkedIn' },
            { href: 'https://stackexchange.com/users/3818740/moritzlost', label: 'Stack Exchange' },
        ],
    },
    {
        heading: 'Legal',
        links: [
            { href: '/legal/', label: 'Legal notice' },
            { href: '/privacy-policy/', label: 'Privacy policy' },
        ],
    },
];
---

<Html {...Astro.props}>
    <nav class="main-navigation" aria-label="Primary">
        <a href="#main" class="visually-hidden-focusable skip-to-main-content">Skip to main content</a>
        <ul class="menu">
            {
                pages.map(link => (
                    <li class="menu__item">
                        <a
                            class="menu__link"
                            href={link.href}
                            aria-current={link.href === Astro.url.pathname ? 'page' : undefined}
                        >
                            {link.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>

    <main id="main">
        <slot />
    </main>

    <footer class="footer" id="footer">
        <h2 class="visually-hidden" id="social-and-legal">Social and legal links</h2>

        <nav class="footer-navigation" aria-labelledby="social-and-legal">
            {
                footer.map(section => (
                    <div>
                        <h3>{section.heading}</h3>
                        <ul class="footer-links">
                            {section.links.map((link, index) => (
                                <>
                                    <li>
                                        <a
                                            href={link.href}
                                            aria-current={link.href === Astro.url.pathname ? 'page' : undefined}
                                        >
                                            {link.label}
                                        </a>
                                    </li>
                                    {index < section.links.length - 1 && (
                                        <span class="separator" aria-hidden="true">
                                            ·
                                        </span>
                                    )}
                                </>
                            ))}
                        </ul>
                    </div>
                ))
            }
        </nav>
    </footer>
</Html>

<style>
    .main-navigation {
        display: grid;
        justify-items: center;
        padding-block-start: 0.25rem;
        margin-block-end: clamp(1.5rem, 6vw, 6rem);
    }

    .skip-to-main-content {
        padding: 0.75rem 1rem;
        margin-block-start: 0.5rem;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: var(--font-size-0);
        font-family: var(--headings-font-family);
        font-weight: 500;
    }

    .menu__link {
        display: block;
        padding: 0.75rem 1rem;
    }

    .menu__link[aria-current='page'] {
        text-decoration-thickness: 0.2em;
    }

    .footer {
        margin-block-start: clamp(4rem, 6vw, 6rem);
        margin-block-end: 3rem;
        padding-inline: var(--container-padding-x);
    }

    .footer-navigation {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        column-gap: 80px;
        row-gap: 32px;
    }

    .footer-navigation h3 {
        font-size: var(--font-size--1);
        font-family: var(--font-family-base);
        font-weight: var(--font-weight-bold);
        margin-block-end: 0.75rem;
    }

    .footer-links {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 1rem;
        row-gap: 1rem;
        font-size: var(--font-size--1);
    }

    .footer-links a[aria-current='page'] {
        text-decoration-thickness: 0.2em;
    }

    @media (max-width: 37.5rem) {
        .footer-navigation {
            flex-direction: column;
            align-items: start;
        }

        .separator {
            display: none;
        }

        .footer-links {
            flex-direction: column;
        }
    }
</style>
