---
import type { ImageMetadata } from 'astro';
import '@styles/main.css';
import { getImage } from 'astro:assets';

export interface Props {
    title: string;
    description?: string;
    image?: ImageMetadata;
    imageAlternativeText?: string;
}

const { title, description, image, imageAlternativeText } = Astro.props;

const seoImage = image ? await getImage({ src: image, width: 1600, quality: 'high' }) : null;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="color-scheme" content="light dark" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Moritz L'Hoest - Articles"
            href={new URL('rss.xml', Astro.site)}
        />

        <title>{title}</title>
        {description && <meta name="description" content={description} />}
        {seoImage && <meta property="og:image" content={seoImage.src} />}
        {seoImage && <meta property="og:image:width" content={String(seoImage.attributes.width)} />}
        {seoImage && <meta property="og:image:height" content={String(seoImage.attributes.height)} />}
        {seoImage && imageAlternativeText && <meta property="og:image:alt" content={imageAlternativeText} />}
    </head>

    <body>
        <slot />
    </body>
</html>
